@use "../abstracts";

.header {
    &__container {
        width: min(1330px, 100% - 48px);
        margin: 0 auto;

        @include abstracts.screen(md) {
            width: min(1330px, 100% - 40px);
            border-bottom: 1px solid #d6d3e2;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abstracts.screen(lg) {
            justify-content: initial;
            flex-direction: row-reverse;
        }
    }

    &__logo {
        @include abstracts.screen(lg) {
            margin-right: auto;
        }

        @include abstracts.screen(md) {
            translate: -20px;
        }
    }

    &__more {
        margin-left: 10px;

        &-icon {
            width: 46px;
            height: 46px;
        }
    }
}
