@use "../abstracts";

.email {
    display: flex;
    align-items: center;
    gap: 10px;

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 46px;
        height: 46px;

        border-radius: 50%;
        border: 1px solid rgba(#5d3bee, 0.2);
    }

    &__icon {
        width: 24px;
        height: 16px;
        object-fit: cover;
    }

    &__link {
        color: #080415;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 136.364%;
        text-decoration-line: underline;

        &--header {
            @include abstracts.screen(lg) {
                display: none;
            }
        }
    }
}
