@use "../abstracts";

.hero {
    &__inner {
        align-items: center;
        position: relative;

        @include abstracts.screen(md) {
            --grid-gutter-y: 20px;

            flex-direction: column-reverse;
            margin-top: 30px;
        }
    }

    &__media {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;

        &-decor {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 94%;
            z-index: 0;
        }
    }

    &__img {
        position: relative;
        width: 80%;
        aspect-ratio: 514/705;
        object-fit: cover;
        z-index: 1;

        @include abstracts.screen(lg) {
            width: 100%;
        }

        @include abstracts.screen(lg) {
            width: 80%;
            aspect-ratio: 259/355;
        }
    }

    &__heading {
        color: #080415;
        font-size: 8rem;
        font-weight: 500;
        line-height: 95%;

        @include abstracts.screen(xl) {
            font-size: 7rem;
        }

        @include abstracts.screen(lg) {
            font-size: 5.2rem;
        }

        @include abstracts.screen(md) {
            font-size: 4.2rem;
            line-height: 119.048%;
        }
    }

    &__desc {
        margin-top: 20px;
        margin-bottom: 50px;
        width: 370px;
        color: #51586a;
        font-size: 1.8rem;
        line-height: 166.667%;

        @include abstracts.screen(md) {
            margin-bottom: 30px;
            width: 100%;
            font-size: 1.6rem;
            line-height: 162.5%;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__link {
        color: #080415;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 166.667%;
        text-decoration-line: underline;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 187.5%;
        }
    }

    &__btn {
        @include abstracts.screen(md) {
            width: 147px;
            height: 55px;
            font-size: 1.6rem;
        }
    }

    &__info-decor {
        position: absolute;
        bottom: 0;
        right: 0;

        @include abstracts.screen(xl) {
            right: -6%;
        }
    }
}

// Follow
.follow {
    margin-top: 104px;
    gap: 15px;

    @include abstracts.screen(xl) {
        margin-top: 60px;
    }

    @include abstracts.screen(md) {
        margin-top: 30px;
    }

    &__desc {
        color: #51586a;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 187.5%;
    }

    &__list {
        display: flex;
        gap: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid rgba($color: #080415, $alpha: 0.1);
        cursor: pointer;
        transition: border 0.3s;

        &:hover {
            border-color: rgba($color: #080415, $alpha: 0.3);
        }
    }

    &__icon {
        opacity: 0.6;
        transition: opacity 0.3s;
    }

    &__item:hover &__icon {
        opacity: 1;
    }
}
